<?xml version="1.0" encoding="UTF-8"?>

<configuration>
<appender name="RESTFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<file>log/rest-error.log</file>
	<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
    	<fileNamePattern>./error-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
      	<maxHistory>3</maxHistory>
      	<maxFileSize>10MB</maxFileSize>
      	<totalSizeCap>40MB</totalSizeCap>
    </rollingPolicy>
	<encoder>
		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %n%msg%n</pattern>
	</encoder>
</appender>

<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      	<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
</appender>

<logger name="appbeta.blog.error.ApiExceptionHandler" level="ERROR">
 	<appender-ref ref="RESTFILE" />
</logger>

<root level="DEBUG">
	<appender-ref ref="STDOUT" />
</root>
  
</configuration>